[user]
	name = kayhide
	email = kayhide@gmail.com
[color]
	ui = always
[core]
	pager = lv -c
 excludesfile = /opt/boxen/config/git/gitignore
[push]
	default = simple
[pager]
	log = diff-highlight | lv -c
	show = diff-highlight | lv -c
	diff = diff-highlight | lv -c

[credential]

[hub]
protocol = https
