[user]
	name = Hideaki Kawai
	email = kayhide@gmail.com
[color]
	ui = true
[core]
	pager = lv -c
	excludesfile = ~/.gitignore
[push]
	default = simple

[credential]

[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[fetch]
	prune = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[pull]
	rebase = false
