[user]
	name = kayhide
	email = kayhide@gmail.com
[color]
	ui = true
[core]
	pager = lv -c
	excludesfile = ~/.gitignore
[push]
	default = simple

[credential]

[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[fetch]
	prune = true
