[language-server.solargraph]
command = "solargraph"
args = ["stdio"]
config = { diagnostics = false, formatting = false }

[language-server.rubocop]
command = "rubocop"
args = ["--lsp", "--stderr", "--fail-level", "fatal"]
timeout = 3

[[language]]
name = "ruby"
language-servers = [
  "rubocop", 
  { name = "solargraph", except-features = ["format", "diagnostics"] }
]
# auto-format = true

[[language]]
name = "purescript"
formatter = { command = "purty", args = ["-"] }
auto-format = true

[[language]]
name = "javascript"
formatter = { command = "prettier", args = ["--stdin-filepath", "a.js"]}
auto-format = true

[[language]]
name = "rust"
auto-format = true

[[language]]
name = "bash"
auto-format = true

[[language]]
name = "python"
auto-format = true

[[grammar]]
name = "idris"
source = { git = "https://github.com/kayhide/tree-sitter-idris", rev = "c3ab3a95415d9807038f6ed026617cb44328f1c3" }
# source = { path = "/Users/kayhide/ghq/github.com/kayhide/tree-sitter-idris" }
# source = { path = "/home/kayhide/ghq/github.com/kayhide/tree-sitter-idris" }

[[language]]
name = "latex"
indent = { tab-width = 4, unit = "    " }
